.home-container {
    height: 100vh;
    background-image: url('../../img/pizzaorder.avif');
    background-size: 100% auto; 
    background-position: center top; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center-content {
    text-align: center;
  }

  .delivery-options {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .delivery-option,
  .pickup-option {
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 40px;
    border-radius: 10px; 
    margin: 0 20px;
  }
  
  .delivery-option img,
  .pickup-option img {
    width: 50px; 
    height: 50px; 
  }
  
  .delivery-option span,
  .pickup-option span {
    display: block;
    margin-top: 5px;
  }
  
  .order-button {
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 10px 130px; 
    border-radius: 10px; 
    margin-top: 20px;
  }