.bg-body-tertiary {
    background-color: white;
}

.iconlogo img {
    filter: grayscale(50%) opacity(50%);
    transition: filter 0.3s ease; 
}

.iconlogo:active img {
    filter: grayscale(0%) opacity(100%) brightness(0%) contrast(100%);
}